In [1]:
import pandas as pd
import pymysql

In [2]:
# Database connection
try:
    conn = pymysql.connect(
        host='localhost',
        user='newuser',
        passwd='password',
        db='sakila'
    )
    print('Connection established:\n', conn)
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurri√≥ un error al conectar: ", e)

Connection established:
 <pymysql.connections.Connection object at 0x7f84df1b2b50>

## Exercise 7-1

In [3]:
pd.read_sql_query(
    "SELECT SUBSTRING('Please find the substring in this string', 17, 25);", 
    conn)

  SUBSTRING('Please find the substring in this string', 17, 25)
0                           substring in this string

## Exercise 7-2

In [4]:
pd.read_sql_query(
    "SELECT ABS(-25.76823), SIGN(-25.76823), ROUND(-25.76823, 2)", 
    conn)

   ABS(-25.76823)  SIGN(-25.76823)  ROUND(-25.76823, 2)
0        25.76823               -1               -25.77

## Exercise 7-3

In [5]:
pd.read_sql_query(
    "SELECT EXTRACT(MONTH FROM CURRENT_DATE())", 
    conn)

   EXTRACT(MONTH FROM CURRENT_DATE())
0                                   5