In [1]:
import pandas as pd
import pymysql

In [2]:
# Database connection
try:
    conn = pymysql.connect(
        host='localhost',
        user='newuser',
        passwd='password',
        db='sakila'
    )
    print('Connection established:\n', conn)
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurri√≥ un error al conectar: ", e)

Connection established:
 <pymysql.connections.Connection object at 0x7f6035e65ac0>

## Exercise 11-1

In [3]:
pd.read_sql_query(
    "SELECT name, \
       CASE \
         WHEN name IN ('English', 'Italian', 'French', 'German') \
           THEN 'latin1' \
         WHEN name IN ('Japanese', 'Mandarin') \
           THEN 'utf8' \
         ELSE 'Unknown' \
       END character_set \
     FROM language", 
    conn)

       name character_set
0   English        latin1
1   Italian        latin1
2  Japanese          utf8
3  Mandarin          utf8
4    French        latin1
5    German        latin1

## Exercise 11-2

In [4]:
pd.read_sql_query(
    "SELECT \
       sum(CASE WHEN rating = 'G' THEN 1 ELSE 0 END) g, \
       sum(CASE WHEN rating = 'PG' THEN 1 ELSE 0 END) pg, \
       sum(CASE WHEN rating = 'PG-13' THEN 1 ELSE 0 END) pg_13, \
       sum(CASE WHEN rating = 'R' THEN 1 ELSE 0 END) r, \
       sum(CASE WHEN rating = 'NC-17' THEN 1 ELSE 0 END) nc_17 \
     FROM film", 
    conn)

       g     pg  pg_13      r  nc_17
0  178.0  194.0  223.0  195.0  210.0