In [1]:
import pandas as pd
import pymysql

In [2]:
# Database connection
try:
    conn = pymysql.connect(
        host='localhost',
        user='newuser',
        passwd='password',
        db='sakila'
    )
    print('Connection established:\n', conn)
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurri√≥ un error al conectar: ", e)

Connection established:
 <pymysql.connections.Connection object at 0x7fd501c33ac0>

## Exercise 10-1

pd.read_sql_query(
    "SELECT c.name, sum(p.amount) \
     FROM customer c LEFT OUTER JOIN payment p \
       ON c.customer_id = p.customer_id \
     GROUP BY c.name", 
    conn)

## Exercise 10-2

pd.read_sql_query(
    "SELECT c.name, sum(p.amount) \
     FROM payment p RIGHT OUTER JOIN customer c \
       ON c.customer_id = p.customer_id \
     GROUP BY c.name", 
    conn)

## Exercise 10-3

In [3]:
pd.options.display.max_rows = 150

In [4]:
pd.read_sql_query(
    "SELECT ones.x + tens.x + 1\
     FROM \
      (SELECT 0 x UNION ALL \
	   SELECT 1 x UNION ALL \
	   SELECT 2 x UNION ALL \
	   SELECT 3 x UNION ALL \
	   SELECT 4 x UNION ALL \
	   SELECT 5 x UNION ALL \
	   SELECT 6 x UNION ALL \
	   SELECT 7 x UNION ALL \
	   SELECT 8 x UNION ALL \
	   SELECT 9 x) ones \
	   CROSS JOIN \
	  (SELECT 0 x UNION ALL \
	   SELECT 10 x UNION ALL \
	   SELECT 20 x UNION ALL \
	   SELECT 30 x UNION ALL \
	   SELECT 40 x UNION ALL \
	   SELECT 50 x UNION ALL \
	   SELECT 60 x UNION ALL \
	   SELECT 70 x UNION ALL \
	   SELECT 80 x UNION ALL \
	   SELECT 90 x) tens", 
    conn)

    ones.x + tens.x + 1
0                    10
1                     9
2                     8
3                     7
4                     6
5                     5
6                     4
7                     3
8                     2
9                     1
10                   20
11                   19
12                   18
13                   17
14                   16
15                   15
16                   14
17                   13
18                   12
19                   11
20                   30
21                   29
22                   28
23                   27
24                   26
25                   25
26                   24
27                   23
28                   22
29                   21
30                   40
31                   39
32                   38
33                   37
34                   36
35                   35
36                   34
37                   33
38                   32
39                   31
40                   50
41                   49
42                   48
43                   47
44                   46
45                   45
46                   44
47                   43
48                   42
49                   41
50                   60
51                   59
52                   58
53                   57
54                   56
55                   55
56                   54
57                   53
58                   52
59                   51
60                   70
61                   69
62                   68
63                   67
64                   66
65                   65
66                   64
67                   63
68                   62
69                   61
70                   80
71                   79
72                   78
73                   77
74                   76
75                   75
76                   74
77                   73
78                   72
79                   71
80                   90
81                   89
82                   88
83                   87
84                   86
85                   85
86                   84
87                   83
88                   82
89                   81
90                  100
91                   99
92                   98
93                   97
94                   96
95                   95
96                   94
97                   93
98                   92
99                   91

In [5]:
pd.read_sql_query(
    "SELECT ones.x + tens.x + 1\
     FROM \
      (SELECT 9 x UNION ALL \
	   SELECT 8 x UNION ALL \
	   SELECT 7 x UNION ALL \
	   SELECT 6 x UNION ALL \
	   SELECT 5 x UNION ALL \
	   SELECT 4 x UNION ALL \
	   SELECT 3 x UNION ALL \
	   SELECT 2 x UNION ALL \
	   SELECT 1 x UNION ALL \
	   SELECT 0 x) ones \
	   CROSS JOIN \
	  (SELECT 0 x UNION ALL \
	   SELECT 10 x UNION ALL \
	   SELECT 20 x UNION ALL \
	   SELECT 30 x UNION ALL \
	   SELECT 40 x UNION ALL \
	   SELECT 50 x UNION ALL \
	   SELECT 60 x UNION ALL \
	   SELECT 70 x UNION ALL \
	   SELECT 80 x UNION ALL \
	   SELECT 90 x) tens", 
    conn)

    ones.x + tens.x + 1
0                     1
1                     2
2                     3
3                     4
4                     5
5                     6
6                     7
7                     8
8                     9
9                    10
10                   11
11                   12
12                   13
13                   14
14                   15
15                   16
16                   17
17                   18
18                   19
19                   20
20                   21
21                   22
22                   23
23                   24
24                   25
25                   26
26                   27
27                   28
28                   29
29                   30
30                   31
31                   32
32                   33
33                   34
34                   35
35                   36
36                   37
37                   38
38                   39
39                   40
40                   41
41                   42
42                   43
43                   44
44                   45
45                   46
46                   47
47                   48
48                   49
49                   50
50                   51
51                   52
52                   53
53                   54
54                   55
55                   56
56                   57
57                   58
58                   59
59                   60
60                   61
61                   62
62                   63
63                   64
64                   65
65                   66
66                   67
67                   68
68                   69
69                   70
70                   71
71                   72
72                   73
73                   74
74                   75
75                   76
76                   77
77                   78
78                   79
79                   80
80                   81
81                   82
82                   83
83                   84
84                   85
85                   86
86                   87
87                   88
88                   89
89                   90
90                   91
91                   92
92                   93
93                   94
94                   95
95                   96
96                   97
97                   98
98                   99
99                  100